.pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 20px;
}
.page-num-list{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
}
.page-num-button{
    width: auto;
}
.active-page{
    background-color: yellow;
    box-shadow: 0px 0px 4px;
}
.pagination-button{
    background-color: rgba(255, 255, 255, 0.678);
}