:root{
    --primary-color: #23B5D3;
    --secondary-color: #A2AEBB;
    --tertiary-color: #75ABBC;
    --dark-text-color: #071013;
    --light-text-color: #DFE0E2;
}
.profile-nav--top{
    height: 15vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding-left: 2vw;
}
.profile-body{
    position: relative;
    height: 85vh;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}
.profile-title{
    justify-self: flex-start;
    border: 2px solid red;
}
.profile-form{
    justify-self: center;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}
.profile-navigation{
    position: absolute;
    top: 5vh;
    left: 2vw;
}