:root{
    --primary-color: #23B5D3;
    --secondary-color: #A2AEBB;
    --tertiary-color: #75ABBC;
    --dark-text-color: #071013;
    --light-text-color: #DFE0E2;
}
.profile-nav--top{
    height: 15vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding-left: 2vw;
    box-shadow: 0 15px 15px black;
    z-index: 1000 !important;
}
.profile-body{
    position: relative;
    height: 85vh;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-welcome-title{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5vh;
}
.profile-title{
    font-size: 12px !important;
    margin: -5vh 0 5vh;
}
.profile-form{
    width: 25%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-form-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.profile-form-input input{
    justify-self: flex-end;
    width: 60%;
}
.profile-navigation{
    position: absolute;
    top: 15vh;
    left: 2vw;
}
.profile-selection{
    cursor: pointer;
}
.profile-selection:hover{
    text-shadow: 0 0 2px var(--primary-color);
}
.selectedProfile{
    color: var(--primary-color);
    text-shadow: 0 0 2px black;
}
