
.profile-nav--top{
    height: 15vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding-left: 2vw;
    box-shadow: 0 15px 15px black;
    z-index: 1000 !important;
}
.profile-body{
    position: relative;
    height: 85vh;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-welcome-title{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5vh;
}
.profile-title{
    font-size: 12px !important;
    margin: -5vh 0 5vh;
}
.profile-form{
    width: 25%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-form-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.profile-form-input input{
    justify-self: flex-end;
    width: 60%;
}
.profile-navigation{
    position: absolute;
    top: 15vh;
    left: 2vw;
}
.profile-selection{
    cursor: pointer;
}
.profile-selection:hover{
    text-shadow: 0 0 2px var(--primary-color);
}
.selectedProfile{
    color: var(--primary-color);
    text-shadow: 0 0 2px black;
}
.delete-confirm-module{
    top: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.493);
}
.delete-confirmation{
    position: absolute;
    width: 90vw;
    height: 50vh;
    border: 5px solid black;
    border-radius: 10px;
    z-index: 111;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.delete-account-button:hover{
    font-size: 1.3rem;
    color: red;
    cursor: pointer;
}
#delete-modal-close{
    left: 45%;
    color: red;
    cursor: pointer;
    position: relative;
}
#delete-modal-close:hover{
    font-size: 1.5rem;
}
#delete-form{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.delete-form-input{
    width: 50%;
    display: flex;
    justify-content: space-between;
}