.shop-list-whole-container{
    height: 100vh;
    width: 100%;
    background-color: grey;
    position: relative;
}
.shop-list-heading{
    background-color: var(--primary-color);
    border-bottom: 2px solid black;
    text-align: center;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* cart list section */
.shop-list-wrapper{
    display: flex;
}
#shop-list-container{
    padding-top: 20px;
    width: 50vw;
    height: 70vh; 
    background-color:  #698fa8;
}
#shop-list-container ul{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}

#shop-list-container ul::-webkit-scrollbar{
    
    color: black;
}
.shop-list-link-home{
    background-color: var(--primary-color);
    font-size: 1.3rem;
    font-style: none
}
.shop-list-link-home:hover{
    color: white;
}
.shop-list-item{
    list-style: none;
    padding: 20px;
    width: 30vw;
    margin: 1rem;    
    background-color: #c1eec8;
    border: 2px solid #556490;
    box-shadow: 0 0 8px 1px #556490;
}
.card-listing-text,
.card-listing-price{
    display: block;
    background-color: transparent;
    font-family: 'Nunito Sans', sans-serif;
}
.cartUpdateDelete{
    width: auto;                                  
}
.card-listing-link {
    text-decoration: none;
    display: block;
    color: blue;
}
.card-listing-link:hover{
    color: purple;
}
/* Price Selection */
.toggle-prices{
    z-index: 99;
    background-color: #F9F6EE;
    width: 50vw;
    height: auto;
    right: 10px;
    padding: 15px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

}
.price-list-container{
    z-index: 100;
    width: 70%;
    margin: 0;
    
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #FFFFF0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toggle-arrow{
    background-color: rgba(0, 183, 255, 0.521);
    text-align: center;
    padding: 5px;
    width: 50%;
    cursor: pointer;
}
.toggle-arrow:hover{
    background-color: rgba(0, 183, 255, 0.71);

}
.close-price-list{
    position: relative;
    top: 1px;
    left: 45%;
    width: min-content;
    height: min-content;
    color: red;
    cursor: pointer;
    font-size: 2em;
}
.close-price-list:hover{
    text-shadow: 0 2px 2px black;
}
.price-selection{
    cursor: pointer;
    border: 2px solid rgba(0,0,0, 0.5);
    border-radius: 15px;
    width: 80%;
    padding: 2px;
    text-align: center;
}
.price-selection:hover{
    background-color: rgba(0,0,0, 0.5);
}
.selected-price{
    color: white;
    background-color: rgba(0,0,0, 0.5);
}


@media screen and (min-width: 951px) and (max-width: 1600px) {
    
    .price-list-container{
        top: 42%;
        left: 68%;
        width: 30%;
    }
}
@media screen and (min-width: 651px) and (max-width: 950px) {
    .shop-list-wrapper{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: 100%;
        height: 85vh;
    }
    #shop-list-container{
        width: 100%;
        padding: 0;
    }
    #shop-list-container ul{
        height: 90%;
        width: 100%;
        padding: 0 10px;
    } 
    .toggle-prices{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .price-list-container{
        font-size: 0.8rem;
        width: 100%;
        height: 100%;
    }
    .shop-list-heading h1{
        font-size: 1.7rem;
    }
    .shop-list-item{
        width: 50%;
        min-height: 200px;
        position: relative;
    }
    .cartUpdateButton{
        position: absolute;
        right: 20px;
    }
    .cartUpdateAdd{
        right: 100px;
    }
    .cartUpdateSubtract{
        right: 60px
    }
}


@media screen and (max-width: 650px) {
    #shop-list-container{
        height: 65vh;
        width: 100%;
        padding: 0;
    }
    #shop-list-container ul{
        height: 80%;
        padding: 0 10px;
    }
    .shop-list-wrapper{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: 100%;
    }
    .toggle-prices{
        width: 100%;
    }
    .price-list-container{
        font-size: 0.8rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .shop-list-heading h1{
        font-size: 1rem;
    }
    .shop-list-item{
        margin: 10px 0;
        padding: 20px 0;
        width: 100%;
        min-height: 200px;
        position: relative;
    }
    .card-listing-text,
    .card-listing-price{
        text-align: center;
    }
    .cartUpdateButton{
        position: absolute;
        right: 20px;
        width: 30px;
        bottom: 10px;
    }
    .cartUpdateAdd{
        right: 100px;
    }
    .cartUpdateSubtract{
        right: 60px
    }
}
@media screen and (min-width: 1660px){
    .shop-list-item{
        display: grid;
        position: relative;
        grid-template-rows: [top-row]20% 20% [middle-row]20% 20% [bottom-row];
        grid-template-columns: [left-column]1fr 20% [middle-column]15% 5% [middle-right-column]15% 5% [right-column]10%;
    }
    .cartUpdateButton{
        grid-row: bottom-row;
    }
    .card-listing-name{
        grid-column: left-column / 4;

    }
    .card-listing-quantity{
        grid-row: top-row;
        grid-column: 4 / 9;
    }
    .card-listing-price-container{
        grid-row: middle-row / bottom-row;
        grid-column: 4 / 8;
    }
    .cartUpdateAdd{
        grid-column: middle-column / 5;
        justify-self: end;
    }
    .cartUpdateSubtract{
        grid-column: middle-right-column;
        justify-self: center;
    }
    .cartUpdateDelete{
        grid-column: right-column;

    }
}
