#shop-list-container{
    margin: 3rem;
}
.shop-list-link-home{
    background-color: grey;
    font-size: 1rem;
}
.shop-list-item{
    border: 2px solid black;
    list-style: none;
    padding: 20px;
    width: 20vw;
    margin: 1rem;    
    background-color: rgb(71, 224, 224);
}
p.card-listing-text{
    background-color: rgb(71, 224, 224);
}
.cartUpdateDelete{
    width: auto;                                  
}