.main--page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-input{
    margin: 20px;
    width: 200px;
    color:black;
}
.millenium-eye-image{
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 30px;
}
.main--page-search-btn{
    padding-top: 2px;
    padding-bottom: 2px;
    height: 48px;
    align-self: center; 
    border-radius: 20px;
    border-style: none;
}
.millenium-eye-image:active{  
     box-shadow: 0 0 10px rgb(201, 171, 0);
}
.main--page-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main--page-search-form{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 10px;
    border: 0;
    box-shadow: 0px 0px 15px gold;
    border-radius: 10px;
}
.card--list-container{
    width: 100%;
    height: 100vh;
    padding: 15px 0 15px 15px;
    display: grid;
    grid-template-columns: repeat(5, 2.5fr);
    grid-template-rows: repeat(2, 5fr);
    column-gap: 10px;
    row-gap: 15px;
    background-color: rgb(37, 37, 37);   
}
.mainpage-card-list-text{
    background-color: rgb(60, 60, 60)
}
.single-card-listing{
    width: 15vw;
    height: auto;
    padding: 12px;
    color: gold;
    border-radius: 10px;
    border: 2px solid rgba(44, 44, 44, 0.514);
    background-color: rgb(60, 60, 60)
}
.inactive-card{
    display: none;
}
.cartUpdateButton{
    width: 30px;
}
.cartUpdateSubtract{
background-color: rgba(233, 48, 48, 0.856);
margin-left: 4px;
}
.cartUpdateSubtract:active, .cartUpdateAdd:active{
    box-shadow: 0 0 3px;
}
.cartUpdateAdd{
background-color: rgb(71, 172, 71);
}
.Loading-API-Text{
    text-align: center;
    margin-top: 35vh;
    font-size: 100px;
}