
.page-container{
    position: relative;
}

.add-or-sub-popup{
    position: fixed;
    top: 100px;
    right: 10px;
    width: 200px;
    height: 200px;
    background-color: var(--tertiary-color);
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.main--page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    background: url("/assets/stacked-peaks-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
}

.main--page-search{
    padding:20px 0;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main--page-search-form{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 30px;
    padding: 10px;
    border: 0;
}
.main--page-search-form>label{  
    color: white;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.search-input{
    width: 90%;
    color:black;
    text-align: center;
}
::-webkit-input-placeholder{
    text-align: center;
}
.search-input::after{
    color: red;
    background-color: green;
    border: 2px solid red;
}
.below-search-text{
    color: white;
    text-shadow: 0 0 10px black;
    filter: drop-shadow(2px 0px 1px rgba(0, 0, 0, 0.432));
    font-weight: 500;
    font-size: 1.7rem;
    width: 90%;
    text-align: center;
}
.no-search-results{
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    padding: 30px 20px;
    border: 5px solid black;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
}
.millenium-eye-image{
    grid-row-start: 1;
    grid-column-start: 3;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0;
    border-radius: 30px;
    align-self: center;
    filter: drop-shadow(0 0 8px black);
}
.card--list-container{
    width: 100%;
    height: 900px;
    padding: 55px 0 15px 65px;
    display: grid;
    grid-template-columns: repeat(5, 2.5fr);
    grid-template-rows: repeat(2, 5fr);
    column-gap: 10px;
    row-gap: 25px;
    background-color: var(--primary-color); 
    overflow-y: auto;  
    background-position-y: -210px !important;
    background-size:cover !important;
    background-repeat: no-repeat !important;
}
.mainpage-card-list-text{
    background-color: var(--tertiary-color);
}
.single-card-listing{
    width: 15vw;
    height: 350px;
    padding: 12px;
    font-weight: 600;
    color: var(--dark-text-color);
    border-radius: 10px;
    border: 2px solid rgba(44, 44, 44, 0.514);
    background-color: var(--tertiary-color);
    box-shadow: 0 0 5px 2px black;
}
.inactive-card{
    display: none;
}
.cartUpdateButton{
    width: 30px;
}
.cartUpdateSubtract{
    background-color: rgba(233, 48, 48, 0.856);
    margin-left: 4px;
}
.cartUpdateSubtract:active, .cartUpdateAdd:active{
    box-shadow: 0 0 3px;
}
.cartUpdateAdd{
    background-color: rgb(71, 172, 71);
}
.Loading-API-Text{
    height:100vh;
    padding:20% 0;
    text-align: center;
    font-size: 100px;
    background-color: #698fa8;
}
  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--tertiary-color);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--dark-text-color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid var(--primary-color);  /* creates padding around scroll thumb */
  }
  #homepage-footer{
    height: 250px;
    background-color: var(--tertiary-color);
    color: var(--footer-color);
    display: flex; 
    justify-content: space-around;
    align-items: center;
    }
 .footer-links{
     margin-right: 10px;
     background-color: var(--tertiary-color);
 }
 .footer-links>i{
     margin-right: 2px;
 }
 .footer-links:hover{
     color: white;
 }
 .vite-logo-footer{
     width: 15px;
 }
 /*marquee for error banner*/
 @keyframes marquee{
    0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-200%);
      }
 }
 @media screen and (max-width: 1680px) {
    .no-search-results{
        height: auto;
    }
    .card--list-container{
        background-position-y: 0px !important;
    }
 }
  @media screen and (min-width: 900px) and (max-width: 1240px) {
    .card--list-container{
        width: 100%;
        height: 1000px;
        padding: 30px 0 30px 20px;
        display: flex;
        flex-direction: column; 
        background-position-y: 0px !important;
    }
    .single-card-listing{
        width: 97%;
        height: 90px;
        display: flex;
        justify-content: space-between;
    }
    .millenium-eye-image{
        width: 350px;
    }
    .no-search-results{
        align-self: center;
        margin-right: 20px;
        font-size: 1.6rem;
        width: 90%;
    }

  }
  @media screen and (min-width: 650px) and (max-width: 900px) {
    .card--list-container{
        width: 100%;
        height: 1000px;
        padding: 30px 0 30px 20px;
        display: flex;
        flex-direction: column; 
        background-position-x: -300px !important;
    }
    .single-card-listing{
        width: 97%;
        height: 90px;
        display: flex;
        justify-content: space-between;
    }
    .list-card-name,
    .mainpage-card-list-text{
        border-right: 1px solid black;
        height: 100%;
        margin-right: 4px;
        padding: 0 1px;
    }
    .millenium-eye-image{
        width: 40%;
    }
    .no-search-results{
        align-self: center;
        margin-right: 20px;
        width: 90%;
    }
    .no-search-results h1{
        font-size: 12px;
    }
  }
  @media screen and (max-width: 650px) {
    .main--page-search{
        width: 100%;
        height: 30vh;
    }
    .main--page-search-form{
        width: 100%;
    }
    .no-search-results{
        align-self: center;
        margin-left: -20px;
        width: 90%;
    }
    .no-search-results h1{
        font-size: 20px;
    }
    .card--list-container{
        width: 100%;
        height: 900px;
        padding: 30px 0 30px 20px;
        display: flex;
        flex-direction: column;
        background-position-x: -450px !important;
        background-position-y: -200px !important;
        background-size: 500% !important;
    }
    .single-card-listing{
        position: relative;
        width: 97%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        
    }
    .cartUpdateButton{
        position: absolute;
        height: 25px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 3px;
    }
    .cartUpdateAdd{
        right: 90px;
    }
    .cartUpdateSubtract{
        right: 30px;
    }
    .typeoftypetext{
        display: none;
    } 
    .millenium-eye-image{
        width: 90%;
    }
    #homepage-footer{
        flex-direction: column;
    }
  }