.main--page-container{
    margin-top: 80px;
    width: 100%;
    height: auto;
    border: 2px solid red;
}
.search-input{
    margin: 20px;
    background-color: white;
    color:black;
}
.main--page-search-btn{
    align-self: center;
    height: auto;
}

.card--list-container{
    border: 2px solid green;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-card-listing{
    width: 15vw;
    height: auto;
    padding: 12px;
    margin: 25px;
    border-radius: 10px;
    border: 2px solid black;

}
.main--page-search{
    display: flex;
    justify-content: center;
}
.inactive-card{
    display: none;
}

