.nav--top{
    width: 100%;
    padding: 50px;
}
.navbar{
    height: auto;
    display: flex;
    justify-content: space-between;
}
.navbar-brand h1{
    font-size: 1.5rem;
    color: black;
}
.navbar-brand h1:hover{
    color: rgb(255, 230, 0);
}
.navbar-login-links{
    display:flex;
    justify-content: space-around;
    width:300px;
}
.nav--top a, .navbar-profile, .navbar-brand h1, .nav--top p{
    font-family: 'Press Start 2P', cursive;
}
.navbar-login-links, a, .nav--top, .navbar{
    background-color: var(--primary-color);
    font-size: 1rem;
}
#shopping-list-button{
    background-color: rgba(255, 255, 255, 0.719);
    padding: 10px 20px;
}
#shopping-list-button:hover{
    color: rgb(255, 230, 0);
    text-shadow: 0 0 4px black;
    background-color: rgba(255, 255, 255, 0.6);
}   
.navbar-profile{
    margin-left:30px;
}
.navbar-button a{
    text-decoration: none;
}
.navbar-button p{
    color:black;
}
.navbar-button p:hover{
    color:rgb(255, 230, 0);
}
@media screen and (max-width:800px) {
    .nav--top{
        padding: 0;
        height: 200px;
    }
    .navbar{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .navbar-brand h1{
        font-size: 1.2rem;
        color: black;
    }
    #shopping-list-button{
        font-size: 12px;
    }
}