.nav--top{
    width: 100%;
    padding: 30px;
}
.navbar{
    height: auto;
    display: flex;
    justify-content: space-between;
}
a.navbar-brand{
    font-size: .8rem;
    color: white;
}
.navbar-login-links, a, .nav--top, .navbar{
    background-color: rgb(71, 224, 224);
    font-family: 'Press Start 2P', cursive;
    font-size: .5rem;
}
#shopping-list-button{
    background-color: rgba(255, 255, 255, 0.719);
}
#shopping-list-button:hover{
    background-color: rgba(255, 255, 255, 0.6);
}   