:root{
  --primary-color: #23B5D3;
  --secondary-color: #A2AEBB;
  --tertiary-color: #75ABBC;
  --dark-text-color: #071013;
  --light-text-color: #DFE0E2;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Macondo', cursive;
}

.App{
  height: auto;  
}

button{
  padding: 5px;
}

h1{
  margin:0;
  font-family: 'Press Start 2P', cursive;
}
.flex-center{ 
  display: flex;
  justify-content: center;
  align-items: center;
}